.nav-extended {
    margin-bottom: 15px;
}

.cardFiltro {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardFiltro>fieldset>div {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin-top: 20px;
}

.brand-logo {
    margin-left: 20px;
}

.cardImg {
    width: 30%;
    display: flex;
    align-items: center;
}

#rowPrincipal {
    margin-bottom: 0;
}

#rowPrincipal .none {
    display: none;
}

#footer {
    margin-top: 20px;
}

.prelo {
    display: flex;
    justify-content: center;
    margin: 100px;
}

#bResults,
#eResults {
    display: flex;
    flex-flow: column;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 200px;
    width: auto;
}

.card .card-image {
    display: flex;
    justify-content: center;
}

#pagination-1>ul,
#pagination-2 ul {
    display: flex;
    justify-content: center;
}

#pagination-1,
#pagination-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.logTitulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.logHam>li>a {
    display: flex;
    align-items: center;
}

.logHam>li>a>img {
    margin-right: 8px;
}

.noEncontrado {
    text-align: center;
}

.usuarioRegistrado {
    display: flex;
    align-items: center;
    
}

.usuarioRegistrado img {
    height: 40px;
}

.usuarioRegistrado > li {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
.usuarioRegistrado > li > a {
    margin-left: 0;
}